* text=auto
*.cpp text eol=lf
*.h text eol=lf
*.cs text eol=lf
*.ini text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf
*.uproject text eol=lf
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
*.jpg binary
*.png binary
